/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #007ea9;  /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #b50000;  /* was red, but this avoids WAVE contrast errors */ 
    --color-focus: #56B929;
    --font-family: Verdana;
    font-family: var(--font-family)
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
}


h1 {
    font-size: 200%;
    color: var(--color-header);
}

h2, h3 {
    color: var(--color-header);
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #b1c0d9;
    padding: 10px;
}

.nav-button {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    padding: 2px 5px;
    border-radius: 5px;
}

.nav-dropdown {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-right {
    margin-left: auto;
}

.course_reviews ul {
    list-style-type: none; 
    padding-left: 0; 
}
.review-box {
        border: 1px solid #ccc; 
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px; 
        background-color: #f9f9f9; 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
    margin-left: auto;
}