{% extends "base.html" %}

{% block main_content %}
<div class="container pt-3">
    <h1>Add Course</h1>
    <form method="POST" action="{{ url_for('add_course') }}">
        <div class="form-group">
            <label for="course_code">Course Code:</label>
            <input type="text" class="form-control" id="course_code" name="course_code" required>
            <p class="message">Course Code must be in the following format: **CS 101** (department code in uppercase letters, followed by a space, then the course number).</p> 
        </div>
        <div class="form-group">
            <label for="course_name">Course Name:</label>
            <input type="text" class="form-control" id="course_name" name="course_name" required>
        </div>
        <div class="form-group">
            <label for="department">Department:</label>
            <select class="form-control" id="department" name="department" required>
                {% if departments %}
                    {% for dept in departments %}
                        <option value="{{ dept.name }}">{{ dept.name }}</option>
                    {% endfor %}
                {% endif %}

            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
</div>
{% endblock %}