<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
{% block nav %}
<nav class="navbar">
  <a href="{{url_for('home')}}" class="nav-button">Home</a>
  <form class="nav-dropdown" method="GET" action="{{url_for('select_department')}}">
    <label for="department">Select a department:</label>
    <select name="department" id="department">
      <option value="All Department">All Departments</option>
      {% for department in departments %}
        <option value="{{department['name']}}">{{department['name']}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="search"></p>
  </form>
  <div class="nav-right">
    <a href="{{url_for('profile')}}" class="nav-button">Profile</a>
  </div>
</nav>
{% endblock %}

{% block main_content %}
<h1 class="center">CourseWise</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
