<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %}{% endblock %}
</head>
<body>
          
{% block nav %}
<nav class="navbar navbar-inverse sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}">CourseWise</a>
    <ul class="nav navbar-nav navbar-right"> 
      <li> 
        <a class="nav-link" href="{{url_for('profile')}}">Profile</a>
      </li> 
    </ul>
  </div>
</nav>
<div class="message">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="messages">
      {% for msg in messages %}
      <p>{{msg}}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
{% block main_content %}
<main>
  <div class="container">
    <div class="container pt-3">
      <h1>Welcome to CourseWise!</h1>
      <form method="GET" action="{{url_for('select_department')}}">
        <div class="form-group">
          <label for="department">Select a department:</label>
          <select class="form-control" name="department" id="department">
            <option value="All Department">All Departments</option>
              {% for department in departments %}
            <option value="{{department['name']}}">{{department['name']}}</option>
              {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</main>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% block end_scripts %}{% endblock %}

</body>
</html>
